body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('sakura.miku.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    z-index: -1;
}

nav {
    position: relative;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.brand-logo {
    color: #ff7043;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    flex: 1;
    padding: 20px;
    width: 100%;
}

.input-field input[type="text"] {
    border: 2px solid #ff7043;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.input-field input[type="text"]:hover, 
.input-field input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.4);
    outline: none;
    border-color: #ff5722;
}

.input-field label {
    color: #ff7043;
}

#add-anime-btn, .remove-btn {
    background-color: #ff7043;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

#add-anime-btn:hover, .remove-btn:hover {
    transform: scale(1.2);
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 15px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.card:hover {
    transform: scale(1.05);
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff7043;
}

.card-content {
    padding: 15px;
    color: #fff;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff7043;
    color: #fff;
    cursor: pointer;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.modal-content {
    background-color: #282828;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
}

.modal-footer .btn-flat {
    background-color: #ff7043;
    color: #fff;
}

.modal-footer .btn-flat:hover {
    background-color: #ff5722;
}

@media (max-width: 768px) {
    .banner-text {
        font-size: 1.2em;
    }

    .card {
        width: 100%;
    }

    #add-anime-btn {
        right: 10px;
        bottom: 10px;
    }
    
}

.tabs .tab a {
    color: #ff7043; 
}

.tabs .tab a:hover {
    background-color: #ff7043;
    color: #fff;
}

.tabs .tab a.active {
    background-color: #ff7043;
    color: #fff;
}

.tabs .indicator {
    background-color: #ff7043; 
}
